* {margin: 0; padding: 0; box-sizing: border-box;}
html {
    font-size: 62.5%;
}
body * {
    transition: background 0.5s, color 0.5s linear;
}
section {
    min-height: 86.3rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 35%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10rem 0 3rem 0;
    text-align: center;
}
.form_container {
    margin: auto auto 0 auto;
    min-height: 65rem;
    width: 54rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.characters {
  max-height: 40rem;
  overflow: hidden;
  overflow-y: scroll;
}
ul li {
    list-style-type: none;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#inputField_container {
    height: 5.5rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    background-color: white;
    margin-bottom: 2rem;
}
#inputField {
    height: 100%;
    width: 80%;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    background: transparent;
    outline: none;
}
#input_check {
    width: 6.5%;
}
.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5rem 0 2.5rem;
    border: 1px solid hsl(236, 9%, 61%);
}
.handle_outer_shadow {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.note_container {
    width: 100%;
    height: 5.5rem;
    border-radius: 1px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2.2rem 0 1.5rem;
    justify-content: center;
    margin-bottom: 1px;
}
.note_container p {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: grab;
}
.cross {
    border-radius: 50px;
}
.head_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.head {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: white;
}
.check_container {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.buttons_container {
    height: 5.7rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    background: white;
    border: none;
    align-items: center;
}
.toggleButtons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.toggleButtons p {
    font-weight: bold;
}
.buttons_container p {
    font-size: 1.5rem;
    /* color: hsl(236, 9%, 61%); */
    /* color: hsl(233, 14%, 35%); */
    font-family: 'Josefin Sans', sans-serif;
}
.buttons_container button {
    background: transparent;
    border: none;
    outline: none;
}
.submitNoteButton {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;
    background: transparent;
}
.order {
    font-size: 1.8rem;
    color: hsl(236, 9%, 61%);
    font-family: 'Josefin Sans', sans-serif;
    word-spacing: 1px;
    z-index: 0;
    cursor: pointer;
}
.attribution {
  text-align: center;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 42%;
    }
    section {
        background-image: url(images/bg-mobile-light.jpg);
        padding-top: 13rem;
        min-height: 100vh;
        padding-bottom: 13rem;
    }
    .form_container {
        width: 55rem;
        height: 90rem;
    }
    #inputField_container {
        height: 8rem;
    }
    .note_container {
        height: 8rem;
    }
    .buttons_container {
        height: 7rem;
        justify-content: space-evenly;
        margin-top: 2.5rem;
        width: 100%;
        border-radius: 5px;
    }
    .toggleButtons {
        justify-content: space-between;
    }
    .buttons_container p {
        font-size: 2rem;
    }
    .note_container p {
        font-size: 2rem;
    }
    #todoStatus {
        justify-content: space-between;
        padding: 0 2rem 0 2rem;
        margin-top: 0;
        width: 100%;
        height: 7rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #input_check {
      width: 8.7%;
    }
    .characters {
      max-height: 49rem;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 35%;
    }
    #input_check {
      width: 9.5%;
    }
}

@media only screen and (max-width: 330px) {
    html {
        font-size: 30%;
    }
}
