* { margin: 0; padding: 0; box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow: auto;
  overflow-y: overlay;
}
body {
  background: gray;
  height: 300vh;
}

p, span, b {
  font-size: 1.6rem;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* background: #f9f7ff; */
  z-index: 10;
}
.slideBtn {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  padding: .7rem 3rem;
  border-radius: .5rem;
  transition: 0.5s;
  color: #707070;
  /* background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%); */
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: .2rem solid #cfcfcf;
  background: white;
}
.slideBtn::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: linear-gradient(42deg, #ff2a2a, #ec4bff);
  transition: 0.5s ease-in-out;
}
.slideBtn:hover {
    color: white;
    border: .2rem solid transparent;
}
.slideBtn:hover::before {
  width: 100%;
}
.navbar-brand {
  font-size: 2.1rem !important;
  font-weight: 700 !important;
  color: #707070 !important;
}
#topNav li:not(:first-child) {
  margin-left: 5rem;
}
nav .nav-link {
  color: #707070;
  font-weight: 600;
  font-size: 1.4rem;
}
nav .nav-link.active {
  color: #DBDB31 !important;
}
#menu-icon {
  content: "";
  position: absolute;
  top: .8rem;
  right: 4%;
  height: .3rem;
  width: 2.7rem;
  background: red;
}
#menu-icon::before,
#menu-icon::after {
  content: "";
  position: absolute;
  top: -.9rem;
  right: 0%;
  height: .3rem;
  width: 2.7rem;
  background: red;
}
#menu-icon::after {
  top: .9rem !important;
}
nav {
  overflow-y: hidden;
}
#topNav {
  transition: 0.3s ease-in-out;
  pointer-events: all;
  transform: translateX(0);
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
}
.hero-container .row {
  height: 92vh;
  max-height: 66rem;
  max-width: 1320px;
}
#hero {
  /* min-height: 100vh;
  margin-top: 7rem;
  background-image: url('../assets/img/bg/Screenshot4.png');
  background-size: 101% 97%;
  z-index: 0; */
  min-height: 98vh;
  padding-top: 7rem;
  background-image: url(../assets/img/bg/Screenshot4.png);
  background-size: 101% 108%;
  z-index: 0;
}
.floating-image {
  position: absolute;
  top: 0;
  left: 0;
}
#emojiSmily {
  top: 7rem;
  left: 38rem;
}
#hero h1 {
  font-size: clamp(32px, 7vw, 88px);
  color: #F6AA44;
}
#hero p {
  margin: 2.5rem 0 3rem 0;
}
.btn-hireMe {
  width: 21rem;
  position: relative;
  outline: none;
  font-size: 2.3rem !important;
  font-weight: 600 !important;
  border-radius: 0.7rem !important;
  padding: 0.9rem 0 !important;
  transition: 0.15s !important;
}
.btn-hireMe:active {
  transform: translateY(0) !important;
  box-shadow: 0 0.5rem 10rem rgb(0 0 0 / 20%) !important;
}
.btn-hireMe:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}
.btn-hireMe::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: -1;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 0.3s linear;
  pointer-events: none;
}
.btn-hireMe:hover::after {
    opacity: 0;
    transform: scaleX(2) scaleY(1.5);
}
.round-background {
  position: absolute;
  height: clamp(5rem, 16vw, 21rem);
  width: clamp(4rem, 19vw, 24rem);
  border-radius: 50%;
  background: cyan;
  z-index: -1;
  bottom: 32%;
  top: clamp(26rem, 18vw, 26rem);
  left: clamp(1rem, 5vw, 9rem);
  transform: translateZ(-30px);
}
#red {
  top: clamp(5rem, 32vw, 33rem);
  left: clamp(10rem, 25vw, 36.7rem);
  background: #F6D1A1;
}
.rounded-img-box {
  height: clamp(1rem, 10vw, 5.3rem);
  width: clamp(1rem, 10vw, 5.3rem);
  padding: clamp(0.5rem, 2vw, 1.2rem);
  border-radius: 50%;
  background: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0rem .5rem .9rem 0rem;
  position: absolute;
  top: 17%;
  right: 13%;
  display: grid;
  place-items: center;
  animation: up-down 1.6s ease-in-out infinite alternate-reverse both;
}
#google {
  top: 39%;
  left: 16%;
  animation: up-down 1.1s ease-in-out infinite alternate-reverse both;
  animation-delay: 0.3s;
}
#Twitter {
  top: 54%;
  right: 7%;
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
  animation-delay: 0.6s;
}
.floating-tag {
  position: absolute;
  left: 0;
  bottom: 26%;
  z-index: 10;
  padding: 1.1rem 2rem;
  background: #583B15;
  border-radius: 1rem;
  color: white;
  /* animation: up-down 1.5s ease-in-out infinite alternate-reverse both; */
}
.floating-tag p {
  font-size: clamp(0.5rem, 3.2vw, 1.6rem);
}

#float-back {
  bottom: 61%;
  left: 60%;
  z-index: -1;
  background: #245663;
}

@keyframes up-down {
  0% {
    transform: translateY(.5rem) translateZ(37px);
  }
  100% {
    transform: translateY(-.5rem) translateZ(37px);
  }
}

#services-section {
  position: relative;
  padding: 14rem 0;
  /* background-color: #f7f7f8;
  background-image: url(../assets/img/bg/Screenshot1.png);
  background-size: 101% 156%; */
  /* margin-top: -7rem; */
  z-index: 1;
  padding-top: 15rem;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: cover;
  backdrop-filter:  brightness(50%);
}
#services-section > div {
  margin-top: -19rem;
}
.left-block, .middle-block, .right-block {
  height: 37rem;
  margin-top: 5rem;
  width: 35rem;
}
.middle-block {
  margin-top: 18rem;
}
.right-block {
  margin-top: 33rem;
}
.left-block > div {
  height: 11rem;
  background: #85DCFF;
  border-radius: 1rem;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: start;
  transform: translateY(3.5rem);
  transform-style: preserve-3d;
}
.left-block > div::before {
  content: "";
  height: 107%;
  width: 84%;
  background: #f7f7f7;
  background: white;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.3s;
  transition-delay: 0.4s;
  transform: translate(-50%, -54%) translateZ(10px);
  border-radius: 1rem;
  box-shadow: rgb(100 100 111 / 20%) 0rem .7rem 2.9rem 0rem;
}
.left-block > div.visible::before {
  transform: translate(-50%, -79%) translateZ(10px);
}
.left-block > div > div {
  background: white;
  display: inline;
  padding: 1.1rem 1.5rem;
  z-index: 100;
  border-radius: 50%;
  border: 1rem solid #FFD9A7;
  font-size: 2.9rem;
  font-weight: bold;
  color: #535353;
  transform: translateY(0) translateZ(30px);
  transition: transform 0.7s ease-in-out;
  transition-delay: 0.6s;
  box-shadow: rgb(100 100 111 / 20%) 0rem .7rem 2.9rem 0rem;
}
.left-block > div > div.visible {
  transform: translateY(-100%) translateZ(30px);
}
.left-block h4 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -79%) translateZ(15px);
  white-space: nowrap;
  font-size: 2.2rem;
  color: gray;
  font-weight: bold;
}
.services-card {
  background: linear-gradient(45deg, #dd4cd8, #ef7e7e);
  border-radius: 1rem;
  opacity: 0.9;
}
.services-card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#canvas-globe {
  width: 100%;
  height: 100vh;
}
#canvas-globe  canvas {
  display: block;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 54.5%;
  }
  #topNav {
    opacity: 0;
    transform: translateX(-110%);
    visibility: hidden;
    pointer-events: none;
    z-index: 111;
  }
  #topNav.active {
    transform: translate(0) !important;
    pointer-events: all !important;
    opacity: 1;
    visibility: visible;
  }
  #topNav li {
    margin-left: 0;
  }
  #hero .row {
    height: auto;
    padding-bottom: 13rem;
    max-height: initial;
  }
  #hero-image {
    margin-bottom: 4.5rem;
  }
  #hero h1 {
    font-size: clamp(32px, 15vw, 88px);
  }
}

@media only screen and (max-width: 528px) {
  .left-block, .middle-block, .right-block {
    width: 90%;
    max-width: 36rem;
  }
  .floating-tag {
    padding: 5px 9px;
  }
  #services-section {
    padding-top: 12rem;
  }
  #services-section > div {
    margin-top: 0;
  }
  .middle-block, .right-block {
    margin-top: 5rem;
  }
  .hero-container .row > div {
    align-items: center !important;
    text-align: center;
  }
}
