* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  background: gray;
}
.slideBtn {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 7px 30px;
  border-radius: 5px;
  transition: 0.5s;
  color: #707070;
  /* background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%); */
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #cfcfcf;
  background: white;
}
.slideBtn::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: linear-gradient(42deg, #ff2a2a, #ec4bff);
  transition: 0.5s ease-in-out;
}
.slideBtn:hover {
    color: white;
    border: 2px solid transparent;
}
.slideBtn:hover::before {
  width: 100%;
}
.navbar-brand {
  font-size: 21px !important;
  font-weight: 700 !important;
  color: #707070 !important;
}
nav .nav-link {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
}
nav .nav-link.active {
  color: #DBDB31 !important;
}
#menu-icon {
    content: "";
    position: absolute;
    top: 8px;
    right: 4%;
    height: 3px;
    width: 27px;
    background: red;
}
#menu-icon::before,
#menu-icon::after {
    content: "";
    position: absolute;
    top: -9px;
    right: 0%;
    height: 3px;
    width: 27px;
    background: red;
}
#menu-icon::after {
    top: 9px !important;
}
nav {
  overflow-y: hidden;
}
#topNav {
  transition: 0.3s ease-in-out;
  pointer-events: all;
  transform: translateX(0);
}
@media only screen and (max-width: 768px) {
  #topNav {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-110%);
    pointer-events: none;
  }
  #topNav.active {
    transform: translate(0) !important;
    pointer-events: all !important;
    opacity: 1;
    visibility: visible;
  }
}
